#eduction{
    margin-top: 100px;
    width: 60vw;
    background: rgb(0,0,0,0.7);
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    transition: 0.5s;
    margin-bottom: 100px;
    padding: 50px;
    padding-top: 0px;
    color:white;
}
#eduction:hover{
    transform: scale(1.09);
}

.eright img{
    width: 350px;
    height: 410px;
    text-align: center;
    transition: 0.5s;
}
.eright img:hover{
    transform: scale(1.2);
}
#eduction h1{
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
    font-weight: bolder;
    color: #FFFFFF;
}
.edu_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}
.eleft{
    width: inherit;
    padding-right: 30px;  
   border-right: 2px solid white;
}

.ebox{
    height: 100px;
    width: inherit;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    padding: 20px;
    margin: 10px;
    transition: 0.5s;
}
.ebox:hover{
transform: scale(1.09);
}
.ebox h2 span{
    font-size: 10px;
}
.ebox p {
    font-size: 13px;
}
@media only screen and (max-width:990px) {
    #eduction{
        width: 90%;
    }
    .eright img{
        display: none;
    }
    .eleft{
        border: 0;
        padding: 0;
    }
}
@media only screen and (max-width: 768px) {
    #eduction{
        width: 90%;
    }
    .eright img{
        display: none;
    }
    .ebox{
        transition: 0.5s;
    }
    .eleft{
        border: 0;
        padding: 0;
    }
    
}
